body {
    background-color: slategray;
}

button {
    margin: 10px;
    padding: 2px;
    background-color: lightgray;
}

input {
    background-color: lightgrey;
}

table, td, th {
    color: whitesmoke;
}

td {
    padding-right: 25px;
}

th {
    padding-bottom: 5px;
}

#table_dates {
    margin-top: 30px;
    margin-bottom: 0;
    text-decoration: underline;
}

.containers {
    color: whitesmoke;
}

#about_container {
    color: whitesmoke;
    padding: 20px;
}

#weather_container {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

#current_weather {
    margin: 25px;
}

#weather_forecast {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

/* #news_container {} */


#todo_container {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

#login_logout {
    float: inline-end;
}