body {
    background-color: slategray;
    min-width: 725px;
}
button {
    margin: 10px;
    padding: 2px;
    background-color: lightgray;
}

input {
    background-color: lightgrey;
}

table, td, th {
    color: whitesmoke;
}

td {
    padding-right: 25px;
}

th {
    padding-bottom: 5px;
}

#table_dates {
    margin-top: 30px;
    margin-bottom: 0;
    text-decoration: underline;
}

.containers {
    color: whitesmoke;
}

#about_container {
    color: whitesmoke;
    padding: 20px;
}

#weather_container {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

#current_weather {
    margin: 25px;
}

#weather_forecast {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

/* #news_container {} */


#todo_container {
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

ul li {
    /* cursor: pointer; */
    position: relative;
    padding: 20px;
    margin-right: 10px;
    background: #eee;
    font-size: 16px;
    color: black;
    list-style: none;
    transition: .2s;
}

ul li:nth-child(odd) {
    background: #ddd;
}

ul li:hover {
    background: #888;
}

#delete_button {
    float: right;
    width: 20px;
}

#login_logout {
    float: inline-end;
}

#user_greeting {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 24px;
    margin-left: 25px;
}

#forcastContainer {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

#dataContainer {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.data {
    margin: 10px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}