body {
    background-color: slategray;
}
button {
    margin: 10px;
    padding: 2px;
    background-color: lightgray;
}

input {
    background-color: lightgrey;
}

table, td, th {
    color: whitesmoke;
}

td {
    padding-right: 25px;
}

th {
    padding-bottom: 5px;
}

#table_dates {
    margin-top: 30px;
    margin-bottom: 0;
    text-decoration: underline;
}

.containers {
    color: whitesmoke;
}

#about_container {
    color: whitesmoke;
    padding: 20px;
}

#weather_container {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

#current_weather {
    margin: 25px;
}

#weather_forecast {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

/* #news_container {} */


#todo_container {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 25px;
}

#login_logout {
    float: inline-end;
}

.weather_form{
align-items: center;
width: 50%;
margin:auto;

}

#forcastContainer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    color: rgb(255, 255, 255);
    background:#173a5e;
    width: 50%;
    margin: auto;
}
#dataContainer{
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.data{
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(129, 124, 124);
    border-radius: 5px;
}
#forcast_header{
   padding: 5px;
   align-items: center;
   justify-content: center;
   border-bottom: 4px solid white;
}