<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title> Weather App </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_ico/favicon-16x16.png' %}">

    <nav>
        <a style="margin: 20px" href="/homeapp/forecast">Get Weather</a>
        {% if user.is_authenticated %}
            <a style="margin: 20px" href="/homeapp/todos/"> My To-Do List</a>
            <a style="float: right" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <div id="login_logout">
                <a style="margin: 20px" href="/homeapp/login/"> Login</a>
                <a style="margin: 20px" href="/homeapp/register/"> Sign Up</a>
            </div>
        {% endif %}
    </nav>

    <body>
        <hr>
        <center><h2 style="color: whitesmoke"> Weather App </h2></center>
        <hr>

        {% if user.is_authenticated %}
            <h3 id="user_greeting">Welcome, {{ request.user.first_name }}!</h3>
            <br>
        {% endif %}

        <div id="about_container" class="containers">
            <h3 style="text-decoration: underline;"> About the App </h3>
            <p>
                In today's world, the climate has become a big issue for human beings; 
                because of an adverse climate change, the weather keeps changing constantly. 
                Too hot or cold weather becomes an obstacle for people to lead their daily 
                routines. Therefore, people must be able to check the weather before leaving 
                their homes. To address people's concerns about the weather, this group 
                created a weather app to show updated weather on time. The weather app enables
                users to search for weather information based on cities worldwide and returns 
                the necessary weather information for those cities.  
            </p>
        </div>
    </body>

</html>