{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title> To-Do </title>
    </head>
        
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <nav>
      {% if user.is_authenticated %}
        <a style="margin: 20px" href="/homeapp/">Return Home</a>
        <a style="margin: 20px" href="/homeapp/forecast">Get Weather</a>
        <a style="float: right" href="{% url 'logout' %}">Logout</a>
    </nav>
    <hr/>
    
    <body>
        {% if user.is_authenticated %}
            <h3 id="user_greeting">Welcome, {{ request.user.first_name }}!</h3>
            <br>
        {% endif %}
        
      <div class="containers" id="todo_container">
        <center>
            <h3> My To-Do's</h3>
            <form action="addTodoItem/" method="post">
                {% csrf_token %}
                <input type="text" name="content">
                <input type="submit" value="Add Todo">
            </form> 
        </center>
            <ul>
                {% for i in all_items %} 
                <li>
                    <form action="deleteTodoItem/{{i.id}}/" method = "post">
                        {% csrf_token %}
                        <input id="delete_button" type="submit" value="X">
                        {{i.content}}
                    </form>
               </li>
                {% endfor %}
            </ul>  
                            
        </div>
    {% else %}
    <P>Please log in</P>
    {% endif %}
  </body>
</html>