<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title> Information App </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div>
            {% now 'DATE_FORMAT' %} {% now 'TIME_FORMAT' %}
        </div>
       
        <div class="containers" id="weather_container">
            <center>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="city" placeholder="Search">
                    <button type="submit">Submit</button>
            </form>
            <div>
                {% if temp and humidity and name%}
                <div id="current_weather">
                    <h4>Current Weather for {{name}}</h4>
                    <br/>
                    <img src="http://openweathermap.org/img/w/{{icon}}.png" width="100px" />
                    <h5>{{discrpition}}</h5>
                    <h5>Temperature : {{temp}}</h5>
                    <h5>Humidity : {{humidity}}</h5>
                </div>
                {% else %}
                <h4>City not Found</h4>
                {% endif %}
                </div>
            </center>
        </div>
       
        <div class="containers" id="news_container">
            This is where the news will be displayed!
        </div>
        
        <div class="containers" id="calendr_container">
            This is where the calendar will be displayed!
        
        </div>
    </body>

</html>